{% extends "layout.html" %}

{% block body %}
    <h1>Groups</h1>
    {% for group in groups %}
    <p>
        <form action="{{ url_for('delete_group', group_id=group.id) }}" method="POST" style="display: inline;">
            <a href="{{ url_for('group_messages', group_id= group.id) }}"> {{ group.heading }} </a>
            &nbsp; | <b>Latest edit: {{ group.date_modified }}</b> &nbsp;
            {% if current_user.is_authenticated %}
            {% if current_user.id == group.account_id or current_user.get_role().role == "ADMIN" %}
            <a href="{{ url_for('modify_group_form', group_id=group.id) }}">edit</a> &nbsp;
            <button style="width: 60px; height: 30px; color: red; background-color:white; display: inline;" type='submit' name='delete'>delete</button>
            {% endif %}
            {% endif %}
        </form>
    </p>

    {% endfor %}
    <h2>Make a new group here. Right now</h2>
    <form method="GET" action="{{ url_for('group_form') }}">
        <input type="submit" value="Make a new group"/>
    </form>
{% endblock %}