{% extends "layout.html" %}
  
{% block body %}
<form method="POST" id="modifiedMessage">
 <table>
   <tr>
    <td>
      {{ form.name.label }}
    </td>
   </tr>
   <tr>
    <td>
     {{ form.name(cols="60", rows="5") }}
    </td>
   </tr>
   <tr>
    <td>
      <ul>
       {% for error in form.name.errors %}
       <li>{{ error }}</li>
       {% endfor %}
      </ul>
    </td>
   <tr>   
   <tr>
    <td colspan="2">
     <input type="submit" value="save changes"/>
    </td>
   </tr>
</form>

{% endblock %}
